<section view="features" class="no-js">
    <article jblock-type="hero" jblock="image-slider-basic"></article>
    <h1>TEST</h1>
</section>
<footer role="footer" data-jblock="simple"></footer>

<script>
jBlock('hero',[
    {
        'image': 'https://foundation.zurb.com/sites/docs/assets/img/orbit/01.jpg',
        'caption': 'Slide 1'
    },
    {
        'image': 'https://foundation.zurb.com/sites/docs/assets/img/orbit/02.jpg',
        'caption': 'Slide 2'
    },
    {
        'image': 'https://foundation.zurb.com/sites/docs/assets/img/orbit/03.jpg',
        'caption': 'Slide 3'
    },
    {
        'image': 'https://foundation.zurb.com/sites/docs/assets/img/orbit/04.jpg',
        'caption': 'Slide 4'
    }
]);

jLoad('footer');
</script>

<style scoped="true">
j-block {
    width: 500px;
    height: 200px;
    background: blue;
}
</style>
