<section data-view="home" class="no-js">
    <div role="hero" data-jblock="2-col-static"></div>

    <div id="panel1" class="row">
        <h3>All The Tools You Need</h3>

        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-4">
                <img class="html5" src="assets/img/html5.svg" />
                <h4>Power of HTML5</h4>
                <p>
                    Use popular libraries and tools you already know like, HTML, CSS, JavaScript, jQuery
                    and Foundation right out-of-the-box. Focus on building features instead of learning
                    complex frameworks.
                </p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <img class="app-store-ios" src="assets/img/app-store-ios.svg" />
                <h4>Simple Architecture</h4>
                <p>
                    jCore was designed using the Clean Architecture model, so you can keep your code sensible and
                    organized for easy development and maintenance.
                </p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <img class="cloudscale" src="assets/img/cloudscale.svg" />
                <h4>Built For Speed</h4>
                <p>
                    Small footprint, highly responsive, carefully optimized to deliver outstanding experience on
                    a wide range of devices, operating systems and browsers.
                </p>
            </div>

            <div class="cell small-12 medium-6 large-4">
                <img class="uikit" src="assets/img/uikit.svg" />
                <h4>jBlocks</h4>
                <p>
                    jCore comes with a huge number of controls, each polished far beyond what's
                    expected on the web. You can quickly build complex apps without reinventing the wheel.
                </p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <img class="scale" src="assets/img/scale.svg" />
                <h4>Scale, Scale, Scale</h4>
                <p>
                    Your app will grow with you, no matter how big you get.
                </p>
            </div>
            <div class="cell small-12 medium-6 large-4">
                <img class="paint-brush" src="assets/img/paint-brush.svg" />
                <h4>Top Notch Theming</h4>
                <p>
                    Built-in tools to help you and your app look good. Seriously.
                </p>
            </div>
        </div>
    </div>

    <hr />

    <div id="panel2" class="row">
        <h3>Companies Using jCore</h3>

        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-3">
                <img class="logo-img jpmorgan" src="assets/img/jpmorgan_logo.png" />
            </div>
            <div class="cell small-12 medium-6 large-3">
                <img class="logo-img seacret" src="assets/img/seacret_logo.png" />
            </div>
            <div class="cell small-12 medium-6 large-3">
                <img class="logo-img att" src="assets/img/att_logo.png" />
            </div>
            <div class="cell small-12 medium-6 large-3">
                <img class="logo-img cengage" src="assets/img/cengage_logo.png" />
            </div>
        </div>
    </div>

    <div id="panel3" class="row">
        <h3>Browser Compatibility</h3>
        <h5>
            jCore is compatible with all major browsers (Chrome, Firefox, Ineternet
            Explorer, Edge, Safari and Opera)
        </h5>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6 medium-4 large-2">
                <img class="browser-img" src="assets/img/chrome_128x128.png" />
            </div>
            <div class="cell small-6 medium-4 large-2">
                <img class="browser-img" src="assets/img/firefox_128x128.png" />
            </div>
            <div class="cell small-6 medium-4 large-2">
                <img class="browser-img" src="assets/img/internet-explorer_128x128.png" />
            </div>
            <div class="cell small-6 medium-4 large-2">
                <img class="browser-img" src="assets/img/edge_128x128.png" />
            </div>
            <div class="cell small-6 medium-4 large-2">
                <img class="browser-img" src="assets/img/safari_128x128.png" />
            </div>
            <div class="cell small-6 medium-4 large-2">
                <img class="browser-img" src="assets/img/opera_128x128.png" />
            </div>
        </div>
    </div>
</section>
<footer role="footer" data-jblock="simple"></footer>

<script>
jLoad('hero');
jLoad('footer');
</script>

<style scoped="true">
/* Default: Applies to ALL */
[data-view="home"] > #panel1, #panel2, #panel3 {
    padding: 30px;
}

[data-view="home"] > #panel1 > .grid-x > .cell {
    padding-right: 30px;
    text-align: center;
}

[data-view="home"] > #panel1 > .grid-x > .cell .html5 {
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 40px;
}

[data-view="home"] > #panel1 > .grid-x > .cell .app-store-ios {
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 40px;
}

[data-view="home"] > #panel1 > .grid-x > .cell .cloudscale {
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 40px;
}

[data-view="home"] > #panel1 > .grid-x > .cell .uikit {
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 40px;
}

[data-view="home"] > #panel1 > .grid-x > .cell .scale {
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 40px;
}

[data-view="home"] > #panel1 > .grid-x > .cell .paint-brush {
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 40px;
}

[data-view="home"] > #panel1 > .grid-x > .cell > h4 {
    margin-top: -30px;
}

[data-view="home"] > #panel1 > h3, #panel2 > h3, #panel3 > h3, #panel3 > h5 {
    text-align: center;
}

[data-view="home"] > #panel1 > h3::after, #panel2 >  h3::after {
    content: "";
    width: 265px;
    display: block;
    height: 1px;
    border-bottom: 2px solid #de4f4f;
    text-align: center;
    margin: 10px auto 0;
}


[data-view="home"] > #panel2 > .grid-x > .cell {
    text-align: center;
}

[data-view="home"] > #panel2 > .grid-x > .cell > .logo-img {
    width: 70%;
    margin-top: 30px;
}

[data-view="home"] > #panel2 > .grid-x > .cell > .logo-img.jpmorgan {
    margin-top: 20px;
}

[data-view="home"] > #panel2 > .grid-x > .cell > .logo-img.att {
    margin-top: 10px;
}

[data-view="home"] > #panel3 {
    background-color: #eceff1;
    background-image: url('assets/img/section-gradient-light.png');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

[data-view="home"] > #panel3 > .grid-x > .cell {
    text-align: center !important;
    padding-top: 30px;
}

[data-view="home"] > #panel3 > .grid-x > .cell > .browser-img {
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
}


/* Small only (639px) */
@media screen and (max-width: 39.9375em) {
    [data-view="home"] > #panel1 > h3, #panel2 > h3, #panel3 > h3 {
        text-align: center;
        font-size: 180%;
        font-weight: bold;
    }

    [data-view="home"] > #panel1 {
        padding: 20px;
    }

    [data-view="home"] > #panel2 > .grid-x > .cell > .logo-img {
        width: 70%;
        margin-top: 0px;
    }

    [data-view="home"] > #panel2 > .grid-x > .cell > .logo-img.jpmorgan {
        margin-bottom: -20px;
    }

    [data-view="home"] > #panel2 > .grid-x > .cell > .logo-img.seacret {
        margin-top: -30px;
    }

    [data-view="home"] > #panel2 > .grid-x > .cell > .logo-img.att {
        margin-top: -20px;
    }

    [data-view="home"] > #panel2 > .grid-x > .cell > .logo-img.cengage {
        margin-top: 0px;
    }

    [data-view="home"] > #panel3 > .grid-x > .cell > .browser-img {
        width: 60%;
        height: auto;
        padding-top: 20px;
        display:block;
        margin:auto;
    }
}

/* Medium and up (640px) */
@media screen and (min-width: 40em) {

}

/* Medium only (640px) (1023px) */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024) */
@media screen and (min-width: 64em) {}

/* Large only (1199px) */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

}
</style>
